# Server
PORT=

# Database
MONGO_URI=

# Auth
JWT_SECRET=

# Doctor service integration
DOCTOR_SERVICE_URL=
DOCTOR_ME_PATH=/api/doctors/me
DOCTOR_AVAILABILITY_PATH=/api/availability/doctor/:doctorId
DOCTOR_BOOK_SLOT_PATH=/api/availability/:availabilityId/book
DOCTOR_RELEASE_SLOT_PATH=/api/availability/:availabilityId/release

# RabbitMQ
RABBITMQ_URL=
APPOINTMENT_QUEUE_NAME=appointment.created
